<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Yeni Kurum</title>
</head>
<body>
<div th:replace="~{common/layout :: layout(pageTitle='Yeni Kurum', content=~{::content})}">
    <div th:fragment="content">
        <h1 class="h4 mb-3">Yeni Kurum</h1>
        <div class="card">
            <div class="card-body">
                <form th:action="@{/admin/customers}" method="post" th:object="${form}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div th:replace="~{admin/customers/_form :: customerForm(submitLabel='Oluştur')}"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
